# Emacs things
emacs/.config/emacs/*
!emacs/.config/emacs/init.el
!emacs/.config/emacs/timer.wav
!emacs/.config/emacs/elpaca-setup.el
!emacs/.config/emacs/hare-mode.el
!emacs/.config/emacs/protobuf-mode.el
!emacs/.config/emacs/keys.el
!emacs/.config/emacs/modeline.el
!emacs/.config/emacs/early-init.el

nushell/.config/nushell/history.txt
nushell/.config/nushell/private.nu
